header {
    background-image: url(../imga/fon.png);
    height: 600px;
    margin-top: 10px;
}
@media (max-width: 1006px) {
    header {
        width: 1024px;
    }
}

.text {
    color: #fff;
    text-align: center;
    
}

.containerOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.but {
    background:transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 170px;
    height: 53px;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding-left: 10%;
}

.butwo {
    background:transparent;
    border: 2px solid #FFFFFF;
    width: 170px;
    height: 50px;
    font-size: 20px;
    color: #fff;
   margin-top: -42px;
   margin-left: 20px;
}

.butcenter {
    background:transparent;
    border: 0px solid #FFFFFF;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background: rgba(196, 196, 196, 0.5);

   
}

.con {
    padding-top: 30px;
}