.full {
    max-width: 1300px;
}

@media (max-width: 1300px) {
    .full {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .full {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .full {
        max-width: none;
    }
}
